{% extends "layout.html" %}
{% load static %}
{% block script %}
    <link rel="stylesheet" href="{% static 'ticket.css' %}">
    <link rel="stylesheet" href="{% static 'noSelect.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'container.css' %}">
    <script type="module" src="{% static 'allTickets.js' %}"></script>

{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="all_tickets_wrapper">
        <div id="newTicket" class="form_wrapper">
            <form id="newTicket_Form" action="javascript:void(0);" class="form">
                {% csrf_token %}
                <label for="newTicket_Form_Textarea">Create a new ticket</label>
                <textarea id="newTicket_Form_Textarea" form="newTicket_Form" class="form_input form_textarea"
                          name="newTicket_Problem_Description" placeholder="What is your problem?"></textarea>
                <p>Any images you want to provide:</p>
                <input class="form_input" id="newTicket_Image" name="newTicket_Image" type="url">
                <input class="form_input form_submit" id="newTicket_Submit" type="submit" value="Create Ticket">
            </form>
        </div>
        <h1 class="home_heading">All Tickets</h1>
        <div id="all_tickets" class="container">
        </div>
    </div>
{% endblock %}