{% extends "layout.html" %}
{% load static %}

{% block title %}MyTeam{% endblock %}

{% block script %}
    <script type="module" src="{% static 'myTeam.js' %}"></script>
    <script type="module" src={% static 'util.js' %}></script>
    <link rel="stylesheet" href="{% static 'container.css' %}">
    <link rel="stylesheet" href="{% static 'noSelect.css' %}">
    <link rel="stylesheet" href="{% static 'myTeam.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">

{% endblock %}

{% block body %}
    {% if user.permission == 'Lead_Worker' %}
        <button id="myTeam_new_team" class="btn">New Team</button>
    {% endif %}
    <div id="myTeam_Team"></div>
    <div id="myTeam_Team_Tickets" class="container"></div>
    <div id="myTeam_create_worker" class="form_wrapper myTeam_form">
        <div class="myTeam_create_worker_header">
            <div id="back_btn" class="back_btn">&larr;</div>
            <h3 id="myTeam_create_worker_heading" class="my_team_create_heading"></h3>
        </div>
        <form id="register_form" class="form" action="{% url 'createworker' %}" method="POST">
            {% csrf_token %}
            <div class="register_form_group">
                <input class="form_input" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="register_form_group">
                <input class="form_input" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="register_form_group">
                <input class="form_input" type="password" name="password" placeholder="Password">
            </div>
            <div class="register_form_group">
                <input class="form_input" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="register_form_group">
                <input class="form_input" id="Lead_Worker" type="radio" name="permission" value="Lead_Worker">
                <label for="Lead_Worker">Team Leader</label><br>
                <input class="form_input" id="Worker" type="radio" name="permission" value="Worker">
                <label for="Worker">Worker</label><br>
            </div>
            <input id="register_submit_btn" class="btn" type="submit" value="Register">
        </form>
    </div>
    <div id="myTeam_create_team" class="form_wrapper myTeam_form">
        <div class="myTeam_create_worker_header">
            <div id="back_btn_team" class="back_btn">&larr;</div>
            <h3  class="my_team_create_heading">Create a new Team</h3>
        </div>
        <form class="form" action="{% url 'createteam' %}" method="POST">
            {% csrf_token %}
            <div class="register_form_group">
                <input class="form_input" autofocus type="text" name="team_name" placeholder="Team name">
            </div>
            <input type="submit" class="btn" value="Create">
        </form>
    </div>
{% endblock %}