{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script type="module" src="{% static 'myTeam.js' %}"></script>
    <script type="module" src={% static 'util.js' %}></script>
    <link rel="stylesheet" href="{% static 'container.css' %}">
    <link rel="stylesheet" href="{% static 'noSelect.css' %}">
    <link rel="stylesheet" href="{% static 'myTeam.css' %}">

{% endblock %}

{% block body %}
    <div id="myTeam_Team"></div>
    <div id="myTeam_Team_Tickets"></div>
{% endblock %}