{% extends "layout.html" %}
{% load static %}

{% block title %}Ticket{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'ticket.css' %}">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'container.css' %}">
    <link rel="stylesheet" href="{% static 'singleTicket.css' %}">
    <script type="module" src={% static 'singleTicket.js' %}></script>
     {{ ticket|json_script:"ticket" }}

{% endblock %}

{% block body %}
    {% if ticket %}
        <div class="ticket_wrapper">
        {% if ticket.closed %}
            <div class="ticket_closed">This ticket has been closed!</div>
        {% else %}
            {% if not ticket.assigned_to and user.permission == user.Permission.Lead_Worker or user.permission == user.Permission.Worker %}
                <button id="claim_btn" class="single_ticket_ticket_claim btn">Claim</button>
            {% endif %}
            {% if user.permission == user.Permission.Lead_Worker %}
                <button id="reassign_btn" class="btn">Reassign</button>
            {% endif %}
            {% if ticket.assigned_to == user.username or ticket.owner == user.username or user.permission == user.Permission.Lead_Worker %}
                <button id="close_btn" class="single_ticket_ticket_close btn">Close Ticket</button>
            {% endif %}
        {% endif %}
            <div class="ticket_head">
                <div class="ticket_author">Created by: <a href="{% url 'profile' ticket.owner%}" class="ticket_author_link">{{ ticket.owner }}</a></div>
                <div class="ticket_assigned_to" id="assigned_to">Assigned to:
                    {% if ticket.assigned_to %}
                        <a href="{% url 'profile' ticket.assigned_to%}" class="ticket_assigned_to">{{ ticket.assigned_to }}</a>
                    {% else %}
                        Not yet assigned
                    {% endif %}
                </div>
                <div class="ticket_age">Age: {{ age }} Days</div>
                <div class="ticket_status" id="ticket_status">Status: {{ ticket.status }}</div>
            </div>
            <div class="ticket_body">{{ ticket.content }}</div>
            <div class="ticket_notes">TODO: Img upload current res: {{ ticket.image }}</div>
        </div>

        <div id="ticket_new_comment" class="form_wrapper">
            <form id="ticket_new_comment_form" action="javascript:void(0);" class="form">
                {% csrf_token %}
                <label for="ticket_new_comment_form_Textarea">Comment</label>
                <textarea id="ticket_new_comment_form_Textarea" form="ticket_new_comment_form"
                          class="form_input form_textarea" name="newTicket_Problem_Description"
                          placeholder="What is your problem?"></textarea>
                <p>Any images you want to provide:</p>
                <input class="form_input" name="ticket_new_comment_image" type="file">
                <input id="ticket_id" hidden="hidden" type="text" value="{{ ticket.id }}" name="ticket_id">
                <input class="form_input form_submit" id="newTicket_Submit" type="submit" value="Comment">
            </form>
        </div>

        <div id="ticket_log" class="container"></div>

    {% endif %}
{% endblock %}