.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container_wrapper{
    border: 1px solid lightgray;
    transition: .3s ease-in-out;
    height: 100px;
    width: 600px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:0 2px 5px 1px lightgray;
    max-width: 100%;
}
.container_wrapper:hover{
    background: #f3f3f3;
}
.container_head{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    justify-content: space-between;

}
.container_body{
    padding: 5px;
}
.container_author_link{
    color: unset;
    text-decoration: none;
    cursor: pointer;
}
