#all_charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}
.chart{
    width: 320px;
    height: 300px;
}

.chart text{
    font-size: .8rem;
}