#all_charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

.chart text{
    font-size: .8rem;
}
#no-tickets-heading{
    text-align: center;
}