.myTeam_general_all_wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.myTeam_general_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.myTeam_general_wrapper:hover .myTeam_general_circle{
    border: var(--call-to-action) 2px solid;
}
.myTeam_general_wrapper:hover .myTeam_general_name{
    color: var(--call-to-action);
}

.myTeam_general_circle{
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--primary-color) 2px solid;
    border-radius: 50%;

    font-size: 1.3rem;
    font-weight: bolder;
    transition: all .3s ease-in-out;
}

.myTeam_leader_circle{
    background: rgba(255,215,0,0.39);
}

.myTeam_worker_circle{
    background: rgba(67,66,234,0.44);
}

.myTeam_general_name{
    font-weight: bold;
    padding-top: 5px;
    transition: all .3s ease-in-out;
}