.ticket_closed{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background: #bd143d;
    text-align: center;
    font-size: 1.5rem;
}
.notification_wrapper{
    background: rgba(219,219,219,0.49);
    cursor: unset;
}

.comment_wrapper{
    cursor: unset;
}
.container_wrapper{
    pointer-events: none;
}

img{
    max-width: 150px;
    max-height: 150px;
}